<h1>About</h1>
<a href="http://localhost:3000/map">
<img src="/Users/addieaddie/Quadricycle/app/views/map_quadricycle_icon.jpg" style="height: 10000px;"/>
</a>
<a href="http://localhost:3000/membership">
<img src="google-play-badge.svg" style="height: 60px;"/>
</a>