<% provide :head_tags do %>
    <script>
    <%# latirude and longitude points are for the buckingham palace, need to access database for actual stations%>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(51.501564, -0.141944) 
    });
    </script>
<% end %>
<h1>Map</h1>
<p>
    <div id="map"></div>
</p>
